In [19]:
# This will be the module to retrieve our data and place it in a data frame.
import pandas as pd
csv_2009 = pd.read_csv("Attend_2009.csv")
csv_2010 = pd.read_csv("Attend_2010.csv")
csv_2011 = pd.read_csv("Attend_2011.csv")
csv_2012 = pd.read_csv("Attend_2012.csv")
csv_2013 = pd.read_csv("Attend_2013.csv")
csv_2015 = pd.read_csv("Attend_2015.csv")
csv_2016 = pd.read_csv("Attend_2016.csv")
csv_2017 = pd.read_csv("Attend_2017.csv")
csv_2018 = pd.read_csv("Attend_2018.csv")

csv_capacity = pd.read_csv("Park_Capacity_Year.csv")


df_2009 = pd.DataFrame(csv_2009)
df_2010 = pd.DataFrame(csv_2010)
df_2011 = pd.DataFrame(csv_2011)
df_2012 = pd.DataFrame(csv_2012)
df_2013 = pd.DataFrame(csv_2013)
df_2015 = pd.DataFrame(csv_2015)
df_2016 = pd.DataFrame(csv_2016)
df_2017 = pd.DataFrame(csv_2017)
df_2018 = pd.DataFrame(csv_2018)
df_capacity = pd.DataFrame(csv_capacity)

In [17]:
#csv_2009.groupby("Tm").count()


df_capacity["Difference %"] = (100 / df_capacity["Capacity D"]) * df_capacity["Capacity N"]
df_capacity.head(20)

    Year Team  Capacity D  Capacity N  Difference %
0   2009  CHC       41210       41210    100.000000
1   2010  CHC       41210       41210    100.000000
2   2011  CHC       41159       41159    100.000000
3   2012  CHC       41009       41009    100.000000
4   2013  CHC       41019       41019    100.000000
5   2014  CHC       41072       41072    100.000000
6   2015  CHC       40929       40929    100.000000
7   2016  CHC       41268       41268    100.000000
8   2017  CHC       41649       41649    100.000000
9   2018  CHC       41649       41649    100.000000
10  2009  BOS       36984       37400    101.124811
11  2010  BOS       36986       37402    101.124750
12  2011  BOS       37065       37493    101.154728
13  2012  BOS       37067       37495    101.154666
14  2013  BOS       37071       37499    101.154541
15  2014  BOS       37071       37499    101.154541
16  2015  BOS       37227       37495    100.719908
17  2016  BOS       37497       37673    100.469371
18  2017  BOS       37281       37731    101.207049
19  2018  BOS       37305       37755    101.206273

In [18]:
csv_2009.head(10)

   Gm#                  Date   Tm D/N  Attendance
0    1         Tuesday Apr 7  BOS   D       37057
1    2       Wednesday Apr 8  BOS   N       37552
2    3        Thursday Apr 9  BOS   D       37784
3   10         Friday Apr 17  BOS   N       38266
4   11       Saturday Apr 18  BOS   N       37559
5   12         Sunday Apr 19  BOS   D       37869
6   13         Monday Apr 20  BOS   D       37865
7   14  Wednesday Apr 22 (1)  BOS   D       37608
8   15  Wednesday Apr 22 (2)  BOS   N       37494
9   16         Friday Apr 24  BOS   N       38163